.home {
  display: flex;
  width: 100%;
  &__sidebar {
    width: 240px;
    border-right: 1px solid gray;
    min-height: 100vh;
    padding: 16px;
  }
  &__main {
    width: calc(100% - 240px);
    padding: 20px;
    // border: 1px solid red;
  }
}