.main {
  &__heading {
    padding: 20px;
    border: 1px solid crimson;
    border-radius: 16px;
    margin-bottom: 24px;
    &--title {
      font-size: 32px;
      margin-bottom: 12px;
      &__name {
        color: crimson;
      }
    }
  }
  &__list {
    display: flex;
    gap: 24px 12px;
    flex-wrap: wrap;
  }
}